#wp_shabbat_content{
	/* overlay is hidden before loading */
    display: none;
	
	position: absolute;
	top: 20%;
	left: 25%;
	z-index: 2147483645;
	 
	
	padding: 10px;
	
	background: #ffffff;
	border: 1px solid #3a3a3a;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-webkit-box-shadow: 2px 2px 4px #3a3a3a;
	-moz-box-shadow: 2px 2px 4px #3a3a3a;
	box-shadow: 2px 2px 4px #3a3a3a;
	
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

.wp_shabbat_button{
	text-align: center;
}